<sw-header></sw-header>

<!---
<div *ngIf="randomValue>.5;else noDataBlock">
  <h1>
  {{message | uppercase}}
  </h1>
  <h2>{{22/7 | number:'3.3-3'}}</h2>
  <h3>{{today}}</h3>
 
</div>
<ng-template #noDataBlock>

</ng-template>
-->
<!-- <sw-spinner></sw-spinner> 

<sw-greet></sw-greet> 
<sw-looping></sw-looping> 

<sw-student>
  
</sw-student> 

</sw-blue-ball> </sw-blue-ball> 

<sw-product-item></sw-product-item>
<sw-product-list></sw-product-list> -->
<div>
  <sw-twoway-binding></sw-twoway-binding>
</div>
<sw-footer>
  
</sw-footer>